/* Movies List */
#movies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

/* Movie Card */
.movie-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.movie-poster img {
    width: 100%;
    border-radius: 8px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

.movie-details {
    text-align: center;
}

.movie-title {
    font-size: 1.5rem;
    margin: 10px 0;
    white-space: break-spaces;
}

.movie-year {
    font-size: 1.1rem;
    color: #888;
}

.movie-director {
    font-size: 1rem;
    margin: 5px 0;
    color: #ccc;  /* Light grey for director */
}

.movie-rating {
    font-size: 1.1rem;
    margin: 5px 0;
}

.movie-rating {
    font-size: 1.1rem;
    margin: 5px 0;
}

/* Star Rating */
.star-rating {
    color: gold;
    font-size: 1.2rem;
}

/* Movie Actions */
.movie-actions {
    margin-top: 15px;
}

.movie-actions a {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* Edit Button */
.edit-button {
    display: inline-flex;
    align-items: center;
    background-color: #444;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    gap: 10px;
}

.edit-button .i {
    color: white;
    font-size: 1.2rem;
}

.edit-button:hover {
    background-color: #555;
}
/* Delete Button */
.delete-button {
    background-color: #d9534f;
}

.delete-button:hover {
    background-color: #c9302c;
}

.add-movie-container {
    text-align: right;
    margin-bottom: 20px;
}

.add-movie-container {
    text-align: right;
    margin-bottom: 20px;
}

.add-movie-button {
    display: inline-flex;
    align-items: center;
    background-color: #d32f2f;
    color: white;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-movie-button .icon {
    color: white;
    font-size: 1.5rem;
}

.add-movie-button:hover {
    background-color: #b71c1c;
    transform: scale(1.05);
}